.top-header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: rgb(194, 194, 194);
}

.logo {
    height: 60px;
    width:60px;
    margin: 20px;
    background-color: lightskyblue;
}

.text {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.box-1 {
    height: 200px;
    width: auto;
    background-color: lightskyblue;
}
.box-2 {
    height: 200px;
    width: auto;
    background-color: aqua;
}
.box-3 {
    height: 200px;
    width: auto;
    background-color: lightgreen;
}
.box-4 {
    height: 200px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: yellowgreen;
}
.circle {
    height: 75px;
    width: 75px;
    font-size: 32px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
}